html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}

.font-main {
  font-family: "Syne Tactile", cursive;
  text-shadow: 0px 0px 4px;
  font-size: 2rem;
}

.font-primary {
  font-family: "Syne Tactile", cursive;
}

.font-secondary {
  font-family: "Roboto", sans-serif;
}

.font-tertiary {
  font-family: "Source Sans Pro", sans-serif;
}

.font-btn {
  font-family: "Oswald", sans-serif;
}

.font-underline {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-color {
  background-color: white !important;
}

.home-banner {
  height: 100vh !important;
  width: 100vh !important;
}

.navbar-brand {
  font-family: "Syne Tactile", cursive;
  font-weight: bold;
  font-size: 2rem;
}

.banner-img-mobile {
  background-image: url("https://images.unsplash.com/photo-1554924821-06226b7202e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXJiYW4lMjBmYXNoaW9ufGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

.banner-img-desktop {
  background-image: url("https://primedia.primark.com/i/primark/kem-hero?w=1600&fmt=webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.btn-Row-Cards {
  box-shadow: 2px 2px 2px 1px rgb(124, 124, 124);
  /* background-color: #fff702; */
  /* color: white !important; */
}

.btn {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.summer {
  color: #f3df00;
}

.img-overlay {
  /* opacity: 0.2; */
  margin-top: 1rem;
  height: 501px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-overlay-1 {
  background-image: url("https://images.unsplash.com/photo-1618400219178-578c3368882e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbiUyMGdpcmx8ZW58MHwxfDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60");
}

.img-overlay-2 {
  background-image: url("https://images.unsplash.com/photo-1619216733911-b7812f666212?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZmFzaGlvbiUyMG1lbnN8ZW58MHwxfDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60");
}

.img-overlay-3 {
  background-image: url("https://images.unsplash.com/photo-1598011077297-9d340d222163?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z29sZCUyMGNoYWluc3xlbnwwfDF8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60");
}

.img-overlay-4 {
  background-image: url("https://images.unsplash.com/photo-1608146089961-cfa00ec756e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmluZ3N8ZW58MHwxfDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60");
}

.glass {
  backdrop-filter: blur(25px);
  box-shadow: 2px 2px 5px rgb(223, 223, 223);
}

.text-container {
  background: rgba(92, 92, 92, 0.29);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  height: 501px;
  width: auto;
  color: #000;
}

.text-overlay {
  background: rgba(44, 44, 44, 0.29);
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px rgba(211, 211, 211, 0.548);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
}

.input-newsletter::placeholder {
  color: white;
}

.img-overlay-men-section {
  background-image: url("https://images.unsplash.com/photo-1550995694-3f5f4a7e1bd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFuJTIwZmFzaGlvbnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}

.img-overlay-women-section {
  background-image: url("https://images.unsplash.com/photo-1502163140606-888448ae8cfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHMlMjBmYXNoaW9ufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}

.img-overlay-footwear-section {
  background-image: url("https://images.unsplash.com/photo-1580611519215-e5b704997e2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb3R3ZWFyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}

.img-overlay-accesories-section {
  background-image: url("https://images.unsplash.com/photo-1548169874-53e85f753f1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d2F0Y2h8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}

.payments {
  height: 4rem;
}

.bg-login {
  background-image: url("https://images.unsplash.com/photo-1514471334649-46a684fb05c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  backdrop-filter: blur(5px);
  background-size: cover;
  height: 100vh;
}
.bg-register {
  background-image: url("https://images.unsplash.com/photo-1514471269849-fda3a4441307?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  backdrop-filter: blur(5px);
  background-size: cover;
  height: 100vh;
}

.input-login {
  /* border-radius: 15px; */
  border-bottom: 1px solid rgb(87, 87, 87) !important;
}

.nav-menu-options {
  height: 4rem;
}

.nav-menu-bg {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-on {
  right: 100%;
  transition: 0.3s;
}

.menu-off {
  left: -100%;
  transition: 0.3s;
}

.rotate-menu {
  transform: rotate(90deg);
  transition: 0.3s;
}

.normal-menu {
  transform: rotate(0deg);
  transition: 0.3s;
}

.nav-item-bg {
  background-color: #800fff;
}

.nav-item-bg div {
  color: white;
}

.db-link {
  color: black;
  text-decoration: none;
}

.navside-bg {
  background-color: #ffffff;
  border-right: 1px solid #800fff !important;
}

.user-img {
  background-color: white;
  height: 5rem;
}

.bg-height {
  height: 100vh;
}

.admin-cards {
  height: 10rem;
}
.admin-cards-lg {
  height: 20rem;
}

.nav-active {
  left: 100%;
  background-color: rgb(0, 0, 0) !important;
}
.nav-disabled {
  left: -100% !important;
  background-color: rgb(0, 0, 0) !important;
}

.card-db-border-1 {
  border: 1px solid #800fff;
}

.card-db-border-2 {
  border: 1px solid #4361ee;
}

.card-db-border-3 {
  border: 1px solid #509724;
}

.card-border-end-1 {
  border-right: 1px solid #4d0a99;
}

.card-border-top-1 {
  border-top: 1px solid #4d0a99;
}

.card-border-start-1 {
  border-left: 1px solid #4361ee;
}

.card-border-end-2 {
  border-right: 1px solid #4361ee;
}

.card-border-end-3 {
  border-right: 1px solid #509724;
}

.card-border-bottom-1 {
  border-bottom: 1px solid #4d0a99;
}

.card-border-bottom-2 {
  border-bottom: 1px solid #509724;
}

.text-color-1 {
  color: #4d0a99;
}

.text-color-2 {
  color: #3f37c9;
}

.text-color-3 {
  color: #509724;
}

.card-db-bg-1 {
  background-color: #690dd3;
}

.card-db-bg-2 {
  background-color: #3f37c9;
}

.card-db-bg-3 {
  background-color: #509724;
}

.card-db-bg-4 {
  background-color: #ed0062;
}

.db-banner {
  height: 12rem;
  color: #690dd3;
}

.prod-banner {
  height: 12rem;
  color: #690dd3;
}
